.body,
.html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #13161c;
  line-height: 1.5;
  height: 100%;
  padding-left: 48px;
  padding-right: 48px;
}

.titles {
  font-size: 44px;
  color: #ffffff;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 20px;
  color: #ffffff;
  margin-top: 0px;
}

.subtitles {
  font-size: 20px;
  color: #ffffff;
}

.sub-subtitle {
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
}

.biography,
.link,
.text {
  font-size: 15px;
  text-decoration: none;
  color: #c4c8ce;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.link {
  font-weight: 700;
  color: #22d3ee;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  border-radius: 12px;
}

.image-vertical {
  grid-row: span 2;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .description {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .image-vertical {
    grid-row: auto;
  }
  .gallery-images {
    grid-template-columns: 1fr;
  }
}
