.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0px 100px 50px 100px;
  background-color: rgb(33, 1, 17);
  line-height: 1.5;
}

.titles {
  font-size: 40px;
  color: beige;
}

.subtitles {
  font-size: 30px;
  color: beige;
}

.sub-subtitle {
  font-size: 25px;
  color: beige;
  font-weight: 700;
}

.biography,
.link,
.text {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  color: beige;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  width: 1100px;
  margin: 0 auto;
}

.link {
  font-weight: 700;
  color: beige;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  width: 1100px;
  margin: 0 auto;
}

.image {
  overflow: hidden;
  border-radius: 12px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-vertical {
  grid-row: span 2;
}
